Repository jjjacobsen/survivor-pool: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-markdown, uv-lock, ruff-check, ruff-format, flutter-analyze, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args: ["--autofix"]
      - id: check-toml
      - id: check-added-large-files
      - id: detect-private-key
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-symlinks
      - id: destroyed-symlinks

  - repo: local
    hooks:
      - id: prettier-markdown
        name: prettier markdown
        entry: prettier --write
        language: system
        types: [markdown]
      - id: uv-lock
        name: uv lock
        entry: bash -c 'cd backend && uv lock --check'
        language: system
        files: backend/pyproject.toml
        pass_filenames: false
      - id: ruff-check
        name: ruff check
        entry: bash -c 'cd backend && uv run ruff check --fix .'
        language: system
        files: backend/
        types: [python]
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        entry: bash -c 'cd backend && uv run ruff format .'
        language: system
        files: backend/
        types: [python]
        pass_filenames: false
      - id: dart-format
        name: dart format
        entry: dart format
        language: system
        types: [dart]
        files: frontend/survivor_pool/
        # Append command with list of staged files
        pass_filenames: true
      - id: flutter-analyze
        name: flutter analyze
        entry: bash -c 'cd frontend/survivor_pool && flutter analyze'
        language: system
        files: frontend/survivor_pool/
        # Run command exactly as written
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: bash -c 'cd backend && pyright'
        language: system
        types: [python]
        files: backend/
        pass_filenames: false

Update getting started documentation
  README.md
Due: prettier-markdown

Add frontend-android task and incorporate android in dev task
  frontend/survivor_pool/android/app/src/debug/AndroidManifest.xml
  mise.toml
Due: flutter-analyze

Checkpoint of Android play store setup
  frontend/survivor_pool/README.md
Due: prettier-markdown, flutter-analyze

Ignore codex environment files
  .gitignore
Due: none

Add Mac simulator launch to task
  mise.toml
Due: none

Bring in pre-commit-hooks I want
  .pre-commit-config.yaml
Due: none

Redesign the main page to feel better and not have nested scrolling windows
  frontend/survivor_pool/lib/features/pools/presentation/widgets/pool_dashboard.dart
  mise.toml
Due: flutter-analyze

Code and documentation to finish getting app deployed to the Play Store
  frontend/survivor_pool/README.md
  frontend/survivor_pool/android/app/build.gradle.kts
  frontend/survivor_pool/android/app/src/main/kotlin/com/survivorpoolapp/survivorpool/MainActivity.kt
  frontend/survivor_pool/pubspec.yaml
  mise.toml
Due: prettier-markdown, flutter-analyze

Add new skill for weekly updates
  .agents/skills/survivor-week-updates/SKILL.md
  .agents/skills/survivor-week-updates/agents/openai.yaml
  README.md
Due: prettier-markdown

Add season 49 week 12 data
  db/seasons/season49.js
Due: none

Rework README and season skill
  .agents/skills/survivor-season-review-add/SKILL.md
  .agents/skills/survivor-season-review-add/agents/openai.yaml
Due: prettier-markdown

Handle exit case of multiple pool members making it through all the eliminations
  .agents/skills/survivor-season-review-add/SKILL.md
  .agents/skills/survivor-week-updates/SKILL.md
  backend/src/app/schemas/seasons.py
  backend/src/app/services/pools.py
  backend/src/app/services/seasons.py
  db/init.js
  db/seasons/season48.js
  db/seasons/season49.js
  docs/DB_schema.md
  frontend/survivor_pool/lib/core/models/season.dart
Due: prettier-markdown, ruff-check, ruff-format, flutter-analyze, pyright

Run season skill for season 48
  db/seasons/season48.js
Due: none

Update season 49 contestant data
  db/seasons/season49.js
Due: none

Clarify contestant age timing
  .agents/skills/survivor-season-review-add/SKILL.md
  .agents/skills/survivor-week-updates/SKILL.md
  docs/DB_schema.md
Due: prettier-markdown

After specifying age of show run season update on 48 again
  db/seasons/season48.js
Due: none

Fix season 49 idol data
  db/seasons/season49.js
Due: none

Add flow for initializing season that has not completed yet
  .agents/skills/survivor-week-updates/SKILL.md
  .agents/skills/survivor-week-updates/agents/openai.yaml
Due: prettier-markdown

Another round of season auditing
  db/seasons/season48.js
  db/seasons/season49.js
Due: none

Update season 49 advantage entries
  db/seasons/season49.js
Due: none

Init season50
  db/init.js
  db/seasons/season50.js
Due: none

Fetch seasons on refresh and create pool dialogue
  frontend/survivor_pool/lib/features/pools/presentation/home_page.dart
Due: flutter-analyze

Add week 1 data
  db/seasons/season50.js
Due: none

Quick actions -> Actions
  frontend/survivor_pool/lib/features/pools/presentation/widgets/pool_dashboard.dart
Due: flutter-analyze

Add message board action
  backend/src/app/routers/pools.py
  backend/src/app/schemas/pools.py
  backend/src/app/services/pools.py
  backend/src/app/services/users.py
  db/init.js
  docs/DB_schema.md
  frontend/survivor_pool/lib/app/app.dart
  frontend/survivor_pool/lib/app/routes.dart
  frontend/survivor_pool/lib/core/models/pool.dart
  frontend/survivor_pool/lib/features/pools/presentation/home_page.dart
  frontend/survivor_pool/lib/features/pools/presentation/pages/pool_updates_page.dart
  frontend/survivor_pool/lib/features/pools/presentation/widgets/pool_dashboard.dart
  mise.toml
Due: prettier-markdown, ruff-check, ruff-format, flutter-analyze, pyright

Fix android build failure
  .pre-commit-config.yaml
  frontend/survivor_pool/lib/features/pools/presentation/home_page.dart
Due: flutter-analyze

Update pre-commit entries to avoid
  .pre-commit-config.yaml
Due: none

Add invite stage flow after new pool creation
  backend/src/app/routers/pools.py
  backend/src/app/schemas/pools.py
  backend/src/app/services/picks.py
  backend/src/app/services/pools.py
  frontend/survivor_pool/lib/features/pools/presentation/home_page.dart
  frontend/survivor_pool/lib/features/pools/presentation/pages/manage_pool_members_page.dart
Due: ruff-check, ruff-format, flutter-analyze, pyright

Persist message board seen state
  .pre-commit-config.yaml
  backend/src/app/routers/pools.py
  backend/src/app/schemas/pools.py
  backend/src/app/services/pools.py
  backend/src/app/services/users.py
  db/init.js
  docs/DB_schema.md
  frontend/survivor_pool/lib/core/models/pool.dart
  frontend/survivor_pool/lib/features/pools/presentation/home_page.dart
Due: prettier-markdown, ruff-check, ruff-format, flutter-analyze, pyright

Persist message board seen state
  frontend/survivor_pool/lib/features/pools/presentation/home_page.dart
Due: flutter-analyze

Merge local branch worktrees into up
  README.md
  docs/DB_schema.md
  docs/PRD.md
  frontend/survivor_pool/lib/features/pools/presentation/pages/manage_pool_members_page.dart
Due: prettier-markdown, flutter-analyze
